/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

.is-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.form-btn {
  width: 371px;
  height: 40px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.form-btn:hover {
  background: #6c8cff;
}
.search-input {
  border-radius: 4px;
  width: 272px;
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-color: #808080;
  padding: 8px 16px;
}
.search-input:hover {
  border-color: #000;
}
.search-input:pressed {
  border-color: #6c8cff;
}
#search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  margin-bottom: 15px;
}
.load-more-btn {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: none;
  background-color: #fff;
  margin: auto;
  margin-top: 30px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
  column-gap: 24px;
  background-color: #fff;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}
.gallery-link {
  text-decoration: none;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.25s;
}

.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.16);
  cursor: zoom-in;
}
.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #808080;
}
.gallery-img {
  display: block;
  width: 360px;
  height: 200px;
}
.search-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-evenly;
  padding-left: 0;
}
.info {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.loader {
  /* visibility: hidden; */
  margin-left: auto;
  margin-right: auto;
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: #ff3d00 transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
